<div class="container">

  <%= button_to "top", {controller: 'images', action: 'index'}, {method: :get} %>

  <p>Have a nice time with cat!</p>

<%= ('<img src="data:image/jpg;base64,%s" class= "nekoimage">' % Base64.encode64(@image)).html_safe %>
<input type="button" value="違う猫で試す" onclick="window.location.reload();" />

<div class="twitter">
  <a href="https://twitter.com/intent/tweet?button_hashtag=NekoMoji&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-show-count="false">Twitterでサービスを共有 #NekoMoji</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
